<h1>How to use MCP?</h1>
<ol>
	<li>Create an account.</li>
	<li>Add a plate with format <b>373mzf</b></li>
	<li>Thats it! Tickets will automatically be added to your account. </li>
	<li>Emails will be sent when you receive tickets and when a ticket is about to increase in price.</li>
</ol>
<p>Thanks and enjoy!</p>

<p>Contact me at <b>@alexbartling</b> on twitter with any questions</p>
