<div class="center hero-unit">
    <h1>Welcome to MCP</h1>
    <p>
      An application to manage parking tickets for the city of Milwaukee
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 </div>