@import 'bootstrap';

body {
        padding-top: 60px; 
}

.center	{
	text-align: center;
}

.center h1 {
	margin-bottom: 10px
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}